annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
awscli==1.33.26
blinker==1.7.0
boto3==1.34.119
botocore==1.34.144
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
distlib==0.3.8
distro==1.9.0
Django==4.2
django-allauth==64.0.0
django-cors-headers==4.3.1
django-extensions==3.2.3
django-seed==0.3.1
django-storages==1.14.3
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
dnspython==2.6.1
docutils==0.16
drf-spectacular==0.27.2
email_validator==2.2.0
exceptiongroup==1.2.1
executing==2.0.1
Faker==25.2.0
fastapi==0.111.1
fastapi-cli==0.0.4
filelock==3.16.0
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
fonttools==4.53.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
importlib-resources==5.13.0
inflection==0.5.1
ipython==8.18.1
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
lxml==5.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.0
matplotlib-inline==0.1.7
mdurl==0.1.2
numpy==1.26.4
openai==1.31.1
outcome==1.3.0.post0
packaging==24.1
pandas==2.1.4
parso==0.8.4
pillow==10.3.0
platformdirs==4.3.3
prompt-toolkit==3.0.43
psycopg2==2.9.9
pure-eval==0.2.2
pyasn1==0.6.0
pycountry==23.12.11
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.7.3
pydantic_core==2.18.4
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
requests==2.31.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.7.2
s3transfer==0.10.1
scikit-learn==1.2.2
scipy==1.14.0
selenium==4.22.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.25
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.37.2
streamlink==6.7.4
threadpoolctl==3.5.0
toposort==1.10
tqdm==4.66.4
traitlets==5.14.3
trio==0.25.1
trio-websocket==0.11.1
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.30.3
virtualenv==20.26.4
watchfiles==0.22.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
wsproto==1.2.0
zipp==3.18.2
